<!DOCTYPE html>
<html>
  <head>
    <title>SocketExpress</title>
    <style>
    </style>
  </head>
  <body>
    <h1>SocketExpress</h1>
    <a href="/join">Join Game</a><br/>
    <a href="/host">Host Game</a>
  </body>
</html>
