<!DOCTYPE html>
<html>
  <head>
    <title>Join - SocketExpress</title>
    <style>
    </style>
  </head>
  <body>
    <h1>JOIN</h1>
    <form action="/join" method="POST">
        <input name="game_id" placeholder="GAME ID"/>
        <input type="submit" value="JOIN"/>
    </form>
  </body>
</html>
